target
classes
*.class
*.tar
*.jar
*.iml
.idea
*.iws
*.ipr
*.ids
*.orig
classes/
out/

*.war
*.ear
*.db

/log/
/target/
/logs/

Thumbs.db
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

!.mvn/wrapper/maven-wrapper.jar
.eslintcache

.vscode/
